# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# dotenv
.env

# Editor configs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Optional: coverage/test folders
coverage/
*.lcov

# Optional: build/dist folders
build/

